MONGODB_URI=mongodb+srv://safwanwr111_db_user:eV2Z5aieYVNSjkIR@cluster0.t5kk3en.mongodb.net/foo-del
JWT_SECRET=random
# STRIPE_SECRET_KEY=your_stripe_key_here
ADMIN_EMAIL=admin@tomato.com
ADMIN_PASSWORD=admin12345
FRONTEND_URL=https://frontend-tomato.vercel.app
