MONGODB_URI=mongodb+srv://safwanwr111_db_user:eV2Z5aieYVNSjkIR@cluster0.t5kk3en.mongodb.net/foo-del
JWT_SECRET=random#secret
STRIPE_SECRET_KEY=sk_test_51TDPr3FSIaDNPcgUVmtEkgp9qwPOc28EpEbkZP5jsSykrr1zFQnapVKRbkiV9DRcR3mmgNCSCjjG3zjgyL1hRukU00d6knj4xf
ADMIN_EMAIL=admin@tomato.com
ADMIN_PASSWORD=admin12345
FRONTEND_URL=https://frontend-tomato.vercel.app
CLOUDINARY_NAME=df8wae28b
CLOUDINARY_API_KEY=937843345753146
CLOUDINARY_API_SECRET=oxHUqxWiF_xRqneBPSURZbqVZL8